
.text {
    text-align:left;
    margin: 1rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    margin-left: 30vw;
    margin: 0.25vh;
    font-family: 'Lora', serif;
  }

  body{
    background-color: #d8c0a8;
  }

