.main-livros{
  align-items: center;
}

.card-container-livros {
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    align-items:center ;
  }
  
  .card-livros {
    height: 70vh;
    width: 21vw;
    background-color: #786048	;
    border-radius: 4px;
    color: white;
    padding: 0.5rem;
    box-shadow: 4px 2px 4px 2px rgba(24, 19, 19, 0.2);

  }

.card-container-livros img{
    width: 20vw;
    height: 60vh;
}

@media(max-width:760px){
  .card-container-livros {
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 90%;
    align-items:center ;
  }
  
  .card-livros {
    height: 40vh;
    width: 33vw;
    background-color: #786048	;
    border-radius: 4px;
    color: white;
    padding: 0.5rem;
    box-shadow: 4px 2px 4px 2px rgba(24, 19, 19, 0.2);

  }

.card-container-livros img{
    width: 28vw;
    height: 30vh;
  }
}