.header {
    padding: 5vh;
    text-align: center;
    color: white;
    background-size: cover;
    height: 500px;
  }
  
  .title {
    color: #604830	;
    margin-left: 40vw;
    font-size: 8vh;
    padding: 5px;
  }

  .container-header{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  .text{
    color: #786048		;

  }
  
  .header img {
   width: 45vw;
   height: 45vh;
  }

  @media(max-width: 768px){
    .header {
      display: flex;
      flex-direction: column;
    }
    .title{
      margin: auto;
      font-size: 6vh;
    }
    .header img{
      width: 50vw;
      height: 50vh;
      margin-right: 45vw;
     
    }
    .text{
      margin: auto;
    }
  }