.header {
    padding: 80px;
    text-align: center;
    color: white;
    background-color: #EEBCA1;
    background-size: cover;
    height: 500px;
  }
  
  .tittle {
    font-size: 40px;
  }
  
  .header img {
    margin-top: 10px;
    width: 2vw;
    height: 2vh;
  }