.header {
    padding: 5vh;
    text-align: center;
    color: white;
    background-size: cover;
    height: 500px;
  }
  
  .title {
    color: #604830	;
    margin-left: 25vw;
    font-size: 8vh;
  }
  
  .header img {
   width: 45vw;
   height: 45vh;
   margin-right: 60vw;
  }